body {
	background: url("https://i.ibb.co.com/Xsr1GxR/AI-MI-05.jpg") no-repeat center center fixed;
	background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        }

.container {
	padding: 0 20px;
        }

.card {
	background: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
        padding: 15px;
        margin-top: 30px;
        border-radius: 5px;
        text-align: center;
        transition: transform 0.3s;
        text-decoration: none;
        color: #FFC300;
        display: block;
        max-height: 4em;
        overflow: hidden;
         border: 2px solid #CCCCCC;
        font-size: 12px;
        white-space: nowrap;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        }

.card:hover {
	transform: scale(1.1);
        max-height: none;
        }

footer{
	position: fixed;
        bottom: 0;
        width: 100vw;
	text-align: center;
	margin: auto 0;
	left: 0;
	background-color: red;
        color: white;
	}
